<% provide :page_title, 'Домашняя страница' %>
<% currently_at %>
<h1>Добро пожаловать в приложение WriteIt</h1>

<% if user_sign_in? %>
  <%= link_to 'Новый пост', new_post_path, class: 'btn btn-primary btn-lg' %>
<% else %>
  <%= link_to 'Войти', new_session_path, class: 'btn btn-primary btn-lg' %>
<% end %>

<h2 class="mt-4">Последние посты</h2>
<% @recent_post.each do |post| %>
  <div class="card mb-2">
    <div class="card-body">
      <h5><%= link_to post.title, post_path(post) %></h5>
      <p><%= truncate(post.body, length: 100) %></p>
      <small>Автор: <%= post.user.name %> | <%= l(post.created_at, format: :short) %></small>
    </div>
  </div>
<% end %>
